<div class="flex flex-col demo-card">
  <h1>Calculating inside input box</h1>
  <div class="flex flex-row">
    <div class="border w-1/2">
        <input
        class="w-full"
          type="text"
          [(ngModel)]="expression"
          placeholder="Enter a number or expression"
          (keyup.enter)="calculate()"
          id="result"
        />
      </div>
      <button class="ml-2 border" (click)="calculate()">Calculate</button>
    </div>
    <div>{{expression}} = {{ result }}</div>
</div>
  