<div class="flex flex-col">
  <h1>ng-select demo</h1>
  <p>Single Selection</p>
  <div class="call-type-style">
    <ng-select
      class="call-type-select"
      (ngModelChange)="updateData()"
      [items]="callTypes"
      bindLabel="name"
      bindValue="name"
      placeholder="Call Type"
      appearance="outline"
      dropdownPosition="bottom"
      [clearable]="true"
      [searchable]="false"
    >
      <ng-template ng-label-tmp let-item="item">
        <span class="material-icons">phone</span>
        {{ item.name }}
      </ng-template>
    </ng-select>
  </div>

  <p>Group Selection with free form text</p>
  <div class="">
    <ng-select
      appendTo="body"
      [items]="accounts"
      bindLabel="name"
      bindValue="name"
      groupBy="country"
      class="group-select"
      (ngModelChange)="updateGroupData()"
      [(ngModel)]="selectedAccount"
      dropdownPosition="bottom"
      [addTag]="addCustomName"
      [multiple]="false"
      [searchable]="true"
      placeholder="Name group by country"
    >
      <ng-template ng-optgroup-tmp let-item="item">
        {{ item.country }}
      </ng-template>
    </ng-select>
  </div>
</div>
