<div class="p-2 flex flex-col">
  <div class="flex flex-row gap-4">
    <button class="my-button-dynamic"
      [ngClass]="{ 'selected-button' : showContentsArray[0] }" 
      (click)="selectButton('angular')"
    >
      Angular
    </button>
    <button class="my-button-dynamic"
      [ngClass]="{ 'selected-button' : showContentsArray[1] }" 
      (click)="selectButton('d3js')"
    >
      D3js
    </button>
  </div>

  <div class=" pt-2">
    <div *ngIf="showContentsArray[0]">
      <app-ng-layout>
      </app-ng-layout>
    </div>
    <div *ngIf="showContentsArray[1]">
      <app-d3js-layout>
      </app-d3js-layout>
    </div>
  </div>
</div>